 <div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>

    <div fxFlex>
        <mat-list cols="2" rowHeght="200px">
            <mat-list-item *ngFor="let dish of dishes" (click)="onSelect(dish)">
                <img matListAvatar src={{dish.image}} alt={{dish.name}}>
                <h1 matLine>{{dish.name | uppercase}}</h1>
                <p matLine>
                    <span>{{dish.description}}</span>
                </p>

            </mat-list-item>
        </mat-list>
    </div>

    

    <app-dishdetail [dish]="selectedDish"></app-dishdetail>
</div>